body{
    margin: 0;
    padding: 0;
}
/* Heading*/

.container{
    display: grid;
    justify-content: center;
    
}
.first-banner-items{
    background-color: #1E1E1E;
    color: #FFFFFF;
    width: 1321px;
    height: 646px;
    display: flex;
    border-radius: 30px;
    position: relative;
    z-index: 1;
}
.first-banner-items:hover{
    border: 3px solid rgb(221, 32, 32);
}
.first-banner-items::before{
    transition: 0.5s all ease ;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(196, 78, 78);
}
.first-banner-items:hover::before{
    transition: 2s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 30px;
}
.first-banner-heading{
    padding: 111px 106px;
}
.first-banner-heading h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px ;
}

.first-banner-heading p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
}


.live-button{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500px;
    text-decoration: none;
    padding: 16px 25px;
    background-color: #DD0000;
    border-radius: 5px;
    transition: padding 1s linear  ;
    position: relative;
    z-index: 1;
}
.live-button:hover{
    cursor: pointer;
    padding: 25px 35px;
    border: 5px solid rgb(63, 9, 7);
}
.live-button::before{
    transition: 0.5s all ease ;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(63, 9, 7) ;
}
.live-button:hover::before{
    transition: 2s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.heading-image img{
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 50px;
}

/* First Part */
.second-banner{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-top: 30px;
   width: 1321px;
}
.blogs-bar{
    
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}
.blogs-bar-item{
    padding: 30px;
}
.white-button{
    width: 252px;
    height: 60px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 550;
    font-size: 20px;
}
.white-button a{
    text-decoration: none;
    color: #161616;
}
.red-button{
    width: 252px;
    height: 60px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 550;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #DD0000;
    text-align: center;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.blog{
    width: 312px;
    height: 340px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
    margin: 0 0 24px 24px;

}
.blog-details{
    padding-left: 20px;
    padding-right: 10px;
}
.button{
    padding: 4px 17px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}
.blogs-durtation{
    display: flex;
}

.blogs-duration-time{
    display: flex;
    align-items: center;
}
.blogs-duration-message{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.message{
    margin-left: 30px;
    align-items: center;
}

.hidden{
    display: none;
}



/* website-2 */
.flags-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.flags{
    padding: 40px;
    display: flex;
    align-items: center;
}
.german{
    margin-right: 15px;
}
.france{
    margin-left: 15px;
}
.matches{
    width: 312px;
    height: 242px;
    border: 2px solid rgb(167, 166, 166);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
.match-details{
    text-align: center;
    margin-top: -40px;
    padding-bottom: 20px;
}
/* Footer */

.footer-f{
    width: 100%;
    height: 100%;
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
}

.footer-area{
    margin-top: 80px;
    
}
.footer-heading{
    padding-top: 80px;
    font-size: 25px;
    font-weight: 600;
}
hr{
    margin-top: 30px;
    width: 1000px;
    margin-bottom: 30px;
}
.contact-area{
    display: grid;
    justify-content: center;
    
}
.contact-us{
    display: flex;
}
.contact-us li{
    list-style-type: none;
    padding-left: 30px;
    
}
.icons{
    margin-top: 30px;
    padding-bottom: 30px;
}

.icons i{
    margin-left: 20px;
    font-size: 30px;
}
/* Media Quaries */

@media only screen and (max-width:767px) {
    /* Heading */
    .container{
        display: block;
        margin: 5px 10px;
    }
    .first-banner-items{
        display: grid;
        width: 100%;
        align-items: end;
        justify-items: center;
       }
    .first-banner-heading{
        padding: 0;
        text-align: center;
        margin: 0 25px;
        
    }
    .first-banner-heading h1{
        font-size: 22px;
     }
    .first-banner-heading p{
        font-size: 14px;
     }
   
   .live-button{
    width: 161px;
    height: 40px;
   }
   .heading-image img{
    width: 233px;
    height: 245px;
    margin-bottom: -3px;
    margin-left: 50px;
   }
   /* First Part */

   .second-banner{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
 }
    .blogs{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 25px;
    margin-left: 15px;
}
    .blogs-bar{
    background-color: #FFFFFF;
    margin-left: 10px;
}
.blogs-bar-item{
    padding-top: 30px;
    padding-left: 55px;
}
hr{
    width: 300px;
}
.contact-area{
    margin-left: -60px;
}
.contact-us{
    display: grid;
    font-size: 30px;
}
.contact-us li{
    margin-bottom: 40px;
    color: #B9B9B9;
    font-weight: 400;
    font-size: 20px;
}

.hidden{
    display: none;
}
}
/* Tab View */
@media only screen and (min-width:768px) and (max-width:1023px){
    .container{
        display: block;
        margin: 5px 10px;
    }
    .first-banner-items{
        height: 398px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        align-items: end;
        justify-items: center;
    }
    .first-banner-heading{
        padding: 0;
        text-align: left;
        height: 276px;
        margin-left: 70px;
        margin-bottom: 70px;
        
    }

    .first-banner-heading h1{
        font-size: 30px;
        line-height: 40px;
     }
    .first-banner-heading p{
        font-size: 14px;
     }
   .live-button{
    width: 161px;
    height: 48px;
   }
   .heading-image img{
    width: 323px;
    height: 340px;
    margin-bottom: -3px;
    margin-left: 10px;
   }
   .second-banner {
    display: block;
    margin-top: 30px;
    width: auto;
  }
   .blogs-bar{
    height: auto;
    display: block ruby;
    background-color: white;
    margin-left: -15px;
   }
   .blogs-bar-item {
    padding: 30px;
    display: flex;
  }
  .blogs-bar-item button{
    border-radius: 10px;
    margin-left: 3px;
  }
  .blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 30px;
  }

  .hidden{
    margin-left: 300px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 131px;
    height: 30px; 
}
    .tablet-blog{
        display: none;
    }
}